<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="bandasListWrapper">
        <% listaBandas.forEach(element => { %>
            <div class="bandaContainer">
                <a href="../bandas/id/<%= element.id %> ">
                    <h2><%= element.nombre %> </h2>
                    <img src="<%= element.cover %> " alt="<%= element.nombre %>" width="400px" height="300px">
                </a>
            </div>
        <% }); %>    
    </div>
   <%- include('./partials/footer') %> 
</body>
</html>