<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
    <% if (generoList == "No hay bandas de ese género") { %>
    ERROR: Genero no encontrado
    <% } else { %>
    Lista de Bandas de <%= generoList[0].genero %>
    <% } %> </title>
</head>
<body>
    <%- include('./partials/header')%>
    <div class="contentWrapper">
        <div class="bandasListWrapper">
        <% if (generoList == "No hay bandas de ese género") { %> 
            <h2>No hay bandas de ese género, F en el chat</h2>
        <% } else { %> 
            <% generoList.forEach(element => { %>
                <div class="bandaContainer">
                    <a href="../id/<%= element.id %> ">
                        <h2><%= element.nombre %> </h2>
                        <img src="<%= element.cover %> " alt="<%= element.nombre %>" width="400px" height="300px">
                    </a>
                </div>
            <% });} %>
        </div>
    </div>
    <div class="footerGeneros"><%- include('./partials/footer') %></div>
</body>
</html>